.editCategory {
  display: flex;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
}
.editCat-container {
  display: flex;
  min-height: 50vh;
  background-color: #fff;
  padding: 50px;
  margin-top: 15px;
  border-radius: 10px;
  width: 80vw;
  justify-content: space-between;
}
.edit_image {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.edit_image-img img {
  height: 100%;
  width: 700px;
}
.editCategory section {
  width: 800px;
  height: 900px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.editCategory label {
  text-align: start;
  font-size: 40px;
  font-weight: 300 !important;
  letter-spacing: 0.5px;
}
.editCategory input {
  font-size: 30px;
  display: flex;
  padding: 20px !important;
  width: 100%;
  outline-color: #32be8f;
  margin-top: 30px;
  border: 3px solid #2d47b9dc;
}
.editCategory-btn {
  margin-top: 50px;
  padding: 25px 0;
  font-size: 30px;
  text-transform: capitalize;
  background: transparent;
  color: #ffff;
  border: 2px solid #fff;
  background-color: #2d47b9dc;
  border-radius: 100px;
}
.uploadImage-btn {
  width: 50%;
  padding: 15px 0;
  font-size: 20px;
  /* color: #2d47b9dc;
  background-color: #fff; */
  margin: 20px auto;
  color: #ffff;
  border: 2px solid #fff;
  background-color: #2d47b9dc;
  transition: all 0.3s ease-in;
  border-radius: 10px;
}
.uploadImage-btn:hover {
  background-color: white;
  color: #2d47b9dc;
  border: 1px solid #2d47b9dc;
}
